body {
    /* background-color: #e9e6e6; */
    /* background: rgb(2, 0, 36); */
    /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    background-image: url(img/bkg-2.jpg);
    /* background-position: center top; */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: #fff
}

.logo {
    /* background-color: aquamarine; */
    width: 10%;
    margin: 10% auto 0 auto;
}

.logo img {
    width: 100%;
}

.container {
    background-color: rgba(1, 1, 1, 0.8);
    width: 35%;
    margin: 10% auto 0 auto;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type=submit] {
    background-color: rgba(0, 212, 255, 1);
    padding: 10px;
    height: 35px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(1, 1, 1);
    color: #fff;
}

p {
    text-align: center;
    font-size: 1.5em;
}
.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.toggle-password:hover {
    color: #988d8d;
}